akka {
  loglevel = INFO
  log-dead-letters = on
  log-dead-letters-during-shutdown = on
  loggers = ["akka.event.slf4j.Slf4jLogger"]
}

dashboard-api {
  user = "{{ dashboard_api_user }}"
  password = "{{ dashboard_api_password }}"
  url = "{{ dashboard_api_url }}"
}

elasticsearch {
  report = "{{ elasticsearch_report }}"
  api = "{{ elasticsearch_api }}"
  port = 9200
  bulk-timeout-in-minutes = 15
  bulk-size = 500
}
